# macos
*.DS_Store

# intellij project files
*.idea
*.iml

# logfiles
**/*.log
**/*.log.*
**/import

# generated
**/target

# eclipse/vscode
**/.project
**/.classpath
**/classpath-data.json
**/.settings
**/.factorypath

**/dgc-business-rules-testdata
external-tests
