
ch-covidcertificate-backend-verifier/ch-covidcertificate-backend-verifier-ws/ch-covidcertificate-verifier-ws.log

ch-covidcertificate-backend-verifier/ch-covidcertificate-backend-verifier-ws/.sts4-cache/classpath-data.json

ch-covidcertificate-backend-verifier/ch-covidcertificate-backend-verifier-sync/.sts4-cache/classpath-data.json

ch-covidcertificate-backend-verifier/ch-covidcertificate-backend-verifier-model/.sts4-cache/classpath-data.json

ch-covidcertificate-backend-verifier/ch-covidcertificate-backend-verifier-data/.sts4-cache/classpath-data.json
